<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.no0ne.appointmentsystem">

    <application
        android:allowBackup="true"
        android:icon="@drawable/calendar_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LogInActivity"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SignInActivity"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TeacherActivity"
            android:label="Teacher"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StudentActivity"
            android:label="Student"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TeacherInfoActivity"
            android:label="Edit Info"
            android:parentActivityName=".ui.TeacherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StudentInfoActivity"
            android:label="Edit Info"
            android:parentActivityName=".ui.StudentActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.ChatActivity" />
        <activity android:name=".ui.ScheduleActivity"></activity>
    </application>

</manifest>